

.list__item {
    border-radius: 4px;
    background-color: white;
    opacity: .7;
    padding: 10px;
    height: 25px;
    line-height: 25px;
    margin-bottom: 10px;

    transition: 0.05s all;
}

.list__item:hover {
    cursor: pointer;
    opacity: 1;

    transition: 0s all;
}

.list__item:active {
    transform: scale(.95);
    transition: 0.1s transform;
}