
#tabs {
    width: 100%;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

#tabs li {
    margin: 0 -15px 0 0;
    float: left;
    position: relative;
}

#tabs a {
    float: left;
    position: relative;
    padding: 0 12px;
    height: 0;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;

    color: black;

    border-right: 20px solid transparent;
    border-bottom: 22px solid #3D3D3D;

    border-bottom-color: rgba(180,180,180,0.5);
    margin-right: 6px;
}

#tabs a:hover,
#tabs a:focus {
  /* border-bottom-color: rgba(180,180,180,0.7); */
  color: dimgray;
  transition: all 0.05s;
}

#tabs a:focus {
  outline: 0;
}

#tabs #current {
  z-index: 3;
  border-bottom-color: rgba(30,30,30,0.6);
  color: white;
  transition: all 0.1s;
}

/* ----------- */
#tab__content {

    font-family: 'Roboto', sans-serif;

    background: transparent;
    border-top: 2px solid #3d3d3d;

    padding: 12px;
    padding-top: 1.5em;
}

#tab__content h2,
#tab__content h3,
#tab__content p {
    margin: 0 0 15px 0;
}


